.cont-btn {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cajaFlexible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
}

.cambiada{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.cajita {
    background-color: rgb(1, 242, 255, 0.6);
    /* flex: 1 1 33%; */
    width: 30%;
    height: 40%;
    border-radius: 25px;
    text-align: center;
}

button {
    width: 15%;
    height: 25%;
}